page-reject-rate {
  .item-head{
    background:#141414;
    padding-left:0px;
    padding-right:0px;
    padding-top: 15px;
  }
  .label-md {
    margin: 0px 0px 0px 0;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
}
