<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Estadísticas
        </a>
        <a [routerLink]="['/monitoreo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tachometer"></i>&nbsp;Monitoreo
        </a>
        <a [routerLink]="['/viajes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-o"></i>&nbsp;Viajes
        </a>
        <a [routerLink]="['/experiencias']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bullhorn"></i>&nbsp;Experiencias de Usuarios
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; Administración</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/admin-unidades']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-taxi"></i>&nbsp;Unidades
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin-clientes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-users"></i>&nbsp;Clientes
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin-conductores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-address-card-o"></i>&nbsp;Conductores
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin-administradores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-gears"></i>&nbsp;Administradores
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages2')">
                <span><i class="fa fa-plus"></i>&nbsp; Administración de Catálogos</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages2'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/motivo-calificacion-conductor']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-address-card-o"></i>&nbsp;Calificación al Conductor
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/motivo-calificacion-unidad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-taxi"></i>&nbsp;Calificación a la Unidad
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/motivo-calificacion-estilo-conduccion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-map-signs"></i>&nbsp;Calificación al Estilo de Conducción
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/motivo-estado']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;Motivos de Estado
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp;{{usuario}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/perfil']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-fw fa-user"></i>&nbsp;Perfil
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
