<ion-header>
  <ion-navbar>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{taxi}}">
      </ion-avatar>
      <ion-label>No. {{unidad.numero}} - {{unidad.placa}}</ion-label>
      <ion-toggle (ionChange)="activar()" [(ngModel)]="activado"></ion-toggle>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col *ngIf="solicitudEnPantalla">
        <h4 text-center><b>Solicitud Entrante:</b></h4>
        <ion-item>
          <h2><b>Pasajero:</b> {{solicitudViaje.apellidos}} {{solicitudViaje.nombres}}</h2>
          <h3><b>Teléfono Principal:</b> {{solicitudViaje.telefono1}}</h3>
          <h3><b>Teléfono Secundario:</b> {{solicitudViaje.telefono2}}</h3>
        </ion-item>
        <ion-row>
          <ion-col>
            <button ion-button icon-left class="submit-btn" color="secondary" full (click)="aceptar()">
              <ion-icon name="checkmark"></ion-icon>
              Aceptar
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left class="submit-btn" color="danger" full (click)="negarse()">
              <ion-icon name="close"></ion-icon>
              Negarse
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="mostrarMotivo">
          <ion-item>
            <ion-label>Motivo</ion-label>
            <ion-select [(ngModel)]="idMotivoEstado" (ionChange)="confirmarRechazo(idMotivoEstado)">
              <ion-option value="0">Seleccione...</ion-option>
              <ion-option *ngFor="let motivo of motivos" value="{{motivo.id}}">{{motivo.descripcion}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
    </ion-col>
  </ion-row>
  <div #gmap id="gmap" col-12></div>
  <ion-fab left bottom *ngIf="viajeIniciado">
    <button ion-fab color="light"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="right">
      <button ion-fab (click)="UbicarPasajero()" *ngIf="viajeEnCurso.fechaInicio == null"><ion-icon name="person"></ion-icon></button>
      <button ion-fab (click)="Cobrar()" *ngIf="!(viajeEnCurso.fechaInicio == null)"><ion-icon name="logo-usd"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab right top *ngIf="viajeIniciado">
    <button ion-fab color="light"><ion-icon name="map"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="DatosPasajero()"><ion-icon name="contact"></ion-icon></button>
      <button ion-fab (click)="iniciarNavegacion()"><ion-icon name="compass"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
