popover {
  .center {
    margin: auto;
    width: 90%;
    padding: 10px;
}
  .popover-page {
    height:450px ;
    background: #141414 ;
    .text-smaller {
      border-right: 50px solid $list-md-border-color;
    }
  }
}
